body, header, nav, main, footer, h1, img, ul, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url(../images/intro.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.theme {
    background-image: url(../images/wood-theme.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.tech {
    background-image: url(../images/techy.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.link {
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.color {
    background-color: black;
}

 #introduction{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  
}

.me{
   display: block;
   width: 20%;
   margin-right: auto;
   margin-left: auto;
}

figure {
    margin-right: 100px;
    margin-bottom: 50px;
}

.quote {
    color: #fff;
    background-color: #333;
    text-align: center;
    font-size: 18px;
}

.project {
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

.underline {
    text-decoration: none;
}

.pic figure img{
   border-radius: 50% 50%; 
}



footer {
    background: none;
    text-align: center;
    color: #fff;
    background-color: #333;
}


@media only screen and (max-width: 600px) {
    body {
       background: none;
       background-color: aliceblue;
    }

    .theme {
        background: none;
    }
    
    header {
        flex-direction: column;
        align-items: center;
        
    }

    nav {
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-bottom: 10px;
    }

   .me {
    display: block;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
   }

  
}
